[2015-01-08 19:05] twhitacre opened #1 "Assignment 2"

[2015-01-08 19:05] twhitacre opened #2 "Assignment 2"

[2015-01-08 19:05] twhitacre opened #3 "Assignment 2"

[2015-01-08 19:05] twhitacre opened #4 "Assignment 2"

[2015-01-08 19:05] twhitacre opened #5 "Assignment 2"

[2015-01-08 19:05] twhitacre opened #6 "Assignment 2"

[2015-01-08 19:05] twhitacre opened #7 "Assignment 2"

[2015-01-08 19:05] twhitacre opened #8 "Assignment 2"

[2015-01-08 19:05] twhitacre opened #9 "Assignment 2"

[2015-01-08 19:05] twhitacre opened #10 "Assignment 2"

[2015-01-08 19:11] xeinherjar commented on #3
https://github.com/xeinherjar/octocats

[2015-01-08 19:12] bholben commented on #1
https://github.com/bholben/Octodex

[2015-01-08 19:12] ssettle3 commented on #5
https://github.com/ssettle3/Octocats

[2015-01-08 19:12] jtareb commented on #10
https://github.com/jtareb/Assignment-2

[2015-01-08 19:12] zenki14 commented on #6
https://github.com/zenki14/Assignment-02

[2015-01-08 19:13] MLamson commented on #9
https://github.com/MLamson/Octocat

[2015-01-08 19:13] Shane40 commented on #8
https://github.com/Shane40/Octocat

[2015-01-08 19:18] Jrfincham commented on #7
https://github.com/Jrfincham/Octocats

[2015-01-08 19:21] twhitacre opened #11 "Assignment 3"

[2015-01-08 19:21] twhitacre opened #12 "Assignment 3"

[2015-01-08 19:21] twhitacre opened #13 "Assignment 3"

[2015-01-08 19:21] twhitacre opened #14 "Assignment 3"

[2015-01-08 19:21] twhitacre opened #15 "Assignment 3"

[2015-01-08 19:21] twhitacre opened #16 "Assignment 3"

[2015-01-08 19:21] twhitacre opened #17 "Assignment 3"

[2015-01-08 19:21] twhitacre opened #18 "Assignment 3"

[2015-01-08 19:21] twhitacre opened #19 "Assignment 3"

[2015-01-08 19:21] twhitacre opened #20 "Assignment 3"

[2015-01-08 19:31] spencerwyckoff commented on #2
https://github.com/spencerwyckoff/Octocats

Had some trouble shifting the "author" boxes

[2015-01-09 04:49] TRPMorrison commented on #4
https://github.com/TRPMorrison/Surf_Paddle

[2015-01-09 05:03] TRPMorrison commented on #14
https://github.com/TRPMorrison/Surf_Paddle

[2015-01-09 05:06] TRPMorrison commented on #4
https://github.com/TRPMorrison/Homework-Day2-TMo.

[2015-01-09 13:25] chelseafranz commented on #3
Looks good :+1:

[2015-01-09 13:35] chelseafranz commented on #1
Looks good :+1:

[2015-01-09 16:32] bholben commented on #11
https://github.com/bholben/Surf-Paddle

[2015-01-09 16:53] chelseafranz commented on #2
looks great :)

[2015-01-09 16:56] chelseafranz commented on #4
hey! having trouble finding your assignment, the link is broken. let's talk and we can get it all working.

[2015-01-09 18:56] chelseafranz commented on #5
looks good :)

[2015-01-09 19:01] chelseafranz commented on #6
looks great :+1: (might want to clean up your readme)

[2015-01-11 16:39] xeinherjar commented on #13
https://github.com/xeinherjar/Surf-Paddle

[2015-01-11 22:18] Shane40 commented on #18
https://github.com/Shane40/Surf-Paddle

I'm embarrassed by some of my coding workarounds. And I'm still a bit befuddled on parent/child relationships and how to properly do opacities (I got the hover to work, but the blue wouldn't show up and "filter" wouldn't work).

[2015-01-11 23:00] zenki14 commented on #16
https://github.com/zenki14/Surf_Paddle

[2015-01-12 00:04] ssettle3 commented on #15
https://github.com/ssettle3/Surf-Paddle

[2015-01-12 00:17] MLamson commented on #19
https://github.com/MLamson/Surf-paddle

[2015-01-12 04:46] spencerwyckoff commented on #12
https://github.com/spencerwyckoff/Surf-Paddle

[2015-01-12 15:55] chelseafranz commented on #7
looks good, great notes!

[2015-01-12 16:03] chelseafranz commented on #7
yep, it's definitely my connection--disregard. looks good! stupid starbucks internet!

[2015-01-12 16:07] chelseafranz commented on #8
good work :)

[2015-01-12 16:22] chelseafranz commented on #9
hey there! looks like that repository is empty, any chance you stored it under a different name?

[2015-01-12 16:24] chelseafranz commented on #10
hey there! looks like that repository is empty, any chance you stored it somewhere else?

[2015-01-12 16:24] chelseafranz commented on #9
looks great!

[2015-01-12 19:20] twhitacre opened #21 "Assignment 4"

[2015-01-12 19:20] twhitacre opened #22 "Assignment 4"

[2015-01-12 19:20] twhitacre opened #23 "Assignment 4"

[2015-01-12 19:20] twhitacre opened #24 "Assignment 4"

[2015-01-12 19:20] twhitacre opened #25 "Assignment 4"

[2015-01-12 19:20] twhitacre opened #26 "Assignment 4"

[2015-01-12 19:20] twhitacre opened #27 "Assignment 4"

[2015-01-12 19:20] twhitacre opened #28 "Assignment 4"

[2015-01-12 19:20] twhitacre opened #29 "Assignment 4"

[2015-01-12 19:20] twhitacre opened #30 "Assignment 4"

[2015-01-12 20:42] xeinherjar commented on #23
http://xeinherjar.github.io/Surf-Paddle/

https://github.com/xeinherjar/Surf-Paddle/blob/master/css/main.scss

[2015-01-12 23:08] bholben commented on #21
https://github.com/bholben/Surf-Paddle

[2015-01-13 00:08] zenki14 commented on #26
https://github.com/zenki14/Surf_Paddle/tree/gh-pages

[2015-01-13 00:09] zenki14 commented on #26
oops! wrong link!

http://zenki14.github.io/Surf_Paddle

[2015-01-13 01:23] Shane40 commented on #28
https://github.com/Shane40/Surf-Paddle/tree/gh-pages

[2015-01-13 03:09] ssettle3 commented on #25
https://github.com/ssettle3/Surf-Paddle/tree/sass

https://github.com/ssettle3/Surf-Paddle/tree/gh-pages

[2015-01-13 03:12] bholben commented on #21
Bonus: https://github.com/bholben/Blueprint

[2015-01-13 03:20] xeinherjar commented on #23
And the bonus.  While I got this to work I would really like to discuss it.

https://github.com/xeinherjar/blueprint

http://xeinherjar.github.io/blueprint/

[2015-01-13 12:55] spencerwyckoff commented on #22
GH-PAGES: https://github.com/spencerwyckoff/Surf-Paddle/tree/gh-pages

SCSS: https://github.com/spencerwyckoff/Surf-Paddle/tree/scss

[2015-01-13 14:32] MLamson commented on #29
https://github.com/MLamson/Surf-paddle/tree/gh-pages

https://github.com/MLamson/Surf-paddle/blob/master/main.scss

[2015-01-13 18:53] twhitacre opened #31 "Assignment 5"

[2015-01-13 18:53] twhitacre opened #32 "Assignment 5"

[2015-01-13 18:53] twhitacre opened #33 "Assignment 5"

[2015-01-13 18:53] twhitacre opened #34 "Assignment 5"

[2015-01-13 18:53] twhitacre opened #35 "Assignment 5"

[2015-01-13 18:53] twhitacre opened #36 "Assignment 5"

[2015-01-13 18:53] twhitacre opened #37 "Assignment 5"

[2015-01-13 18:53] twhitacre opened #38 "Assignment 5"

[2015-01-13 18:53] twhitacre opened #39 "Assignment 5"

[2015-01-13 18:53] twhitacre opened #40 "Assignment 5"

[2015-01-13 19:50] twhitacre commented on #10
@jtareb can you take another look at this when you get a chance?

[2015-01-13 19:51] #9 closed

[2015-01-13 19:51] #8 closed

[2015-01-13 19:51] #7 closed

[2015-01-13 19:52] #6 closed

[2015-01-13 19:52] #5 closed

[2015-01-13 19:53] twhitacre commented on #4
@TRPMorrison take another look at this and reach out to me or Chelsea if you need help!

[2015-01-13 19:53] #3 closed

[2015-01-13 19:53] #2 closed

[2015-01-13 19:53] #1 closed

[2015-01-13 20:08] spencerwyckoff commented on #32
BLOG: http://spencerwyckoff.wordpress.com/2015/01/13/becoming-a-valuable-asset-to-the-world/

[2015-01-13 20:22] Shane40 commented on #38
https://github.com/Shane40/JS-Intro

[2015-01-13 20:25] ssettle3 commented on #35
https://github.com/ssettle3/JS-Intro

[2015-01-13 20:47] bholben commented on #31
https://github.com/bholben/JS-Intro

[2015-01-13 20:57] xeinherjar commented on #33
https://github.com/xeinherjar/JS-Intro

Blog - Jekyll
I had it at xeinherjar.github.io but moved it to my own site: http://alexpate.net

[2015-01-13 21:02] Jrfincham commented on #17
https://github.com/Jrfincham/Surf_Paddle

[2015-01-13 21:17] Jrfincham commented on #27
https://github.com/Jrfincham/Surf_Paddle/tree/gh-pages
https://github.com/Jrfincham/Surf_Paddle/blob/master/surf.scss

[2015-01-13 21:35] spencerwyckoff commented on #32
JS Answers: https://github.com/spencerwyckoff/JS-Intro/blob/master/main.js

[2015-01-13 22:30] MLamson commented on #39
https://malamson.wordpress.com/2015/01/13/career-change-first-steps/

https://github.com/MLamson/JS-Intro/blob/master/main.js

[2015-01-14 01:14] Jrfincham commented on #37
https://jrfincham.wordpress.com/2015/01/14/going-to-school-at-the-iron-yard/
https://github.com/Jrfincham/JS-Intro

[2015-01-14 02:15] jtareb commented on #40
My blog is https://jtareb1.wordpress.com/2015/01/14/javascript-the-first-day/.  The main js is located at https://github.com/jtareb/js-intro.

[2015-01-14 03:22] ssettle3 commented on #25
https://github.com/ssettle3/Blue-Print

Bonus Attempt - still tweaking to make better..

[2015-01-14 04:15] zenki14 commented on #36
http://zenki14.github.io/js-intro/

http://zenki14.tumblr.com/

[2015-01-14 17:11] twhitacre opened #41 "Assignment 6"

[2015-01-14 17:11] twhitacre opened #42 "Assignment 6"

[2015-01-14 17:11] twhitacre opened #43 "Assignment 6"

[2015-01-14 17:11] twhitacre opened #44 "Assignment 6"

[2015-01-14 17:11] twhitacre opened #45 "Assignment 6"

[2015-01-14 17:11] twhitacre opened #46 "Assignment 6"

[2015-01-14 17:11] twhitacre opened #47 "Assignment 6"

[2015-01-14 17:11] twhitacre opened #48 "Assignment 6"

[2015-01-14 17:11] twhitacre opened #49 "Assignment 6"

[2015-01-14 17:11] twhitacre opened #50 "Assignment 6"

[2015-01-14 18:34] bholben commented on #41
http://bholben.github.io/Calculator/

[2015-01-14 18:58] xeinherjar commented on #43
https://github.com/xeinherjar/catulator
http://xeinherjar.github.io/catulator/

I decided to have a branch for each one:
  basic: https://github.com/xeinherjar/catulator/tree/basic006

More comments to come.

[2015-01-14 19:02] chelseafranz commented on #21
great work on both! :+1: next time, can you post the link to your gh-pages site here as well? thanks! @bholben

[2015-01-14 19:02] #21 closed

[2015-01-14 19:03] chelseafranz commented on #24
@TRPMorrison can you post a link to your gh-pages site for this, please? thanks! :)

[2015-01-14 19:05] chelseafranz commented on #25
awesome work!

[2015-01-14 19:05] #25 closed

[2015-01-14 19:06] chelseafranz commented on #26
awesome work!: :100:

[2015-01-14 19:06] #26 closed

[2015-01-14 19:10] chelseafranz commented on #30
hey @jtareb do you have the link for this?

[2015-01-14 19:12] chelseafranz commented on #23
great work! :+1:

[2015-01-14 19:12] #23 closed

[2015-01-14 19:54] xeinherjar commented on #43
First part of bonus: https://github.com/xeinherjar/catulator/tree/bonus006

[2015-01-14 20:48] ssettle3 commented on #45
http://ssettle3.github.io/JS-Calculator/
https://github.com/ssettle3/JS-Calculator

[2015-01-14 22:13] Jrfincham commented on #47
https://github.com/Jrfincham/Assignment6

[2015-01-14 22:17] MLamson commented on #49
https://github.com/MLamson/calc

https://github.com/MLamson/calc/tree/gh-pages

[2015-01-15 02:10] Shane40 commented on #48
https://github.com/Shane40/Catcaculator

I need much practice in JS, as functions aren't completely intuitive to right-brain thinkers. On the plus side, I'm doing better with CSS. :-)

[2015-01-15 02:51] xeinherjar commented on #43
Second part of bonus: https://github.com/xeinherjar/catulator/tree/bonus2-006

[2015-01-15 03:49] zenki14 commented on #46
http://zenki14.github.io/jscalc/

after a night of crazy github issues and a minor freak out...

[2015-01-15 04:34] bholben commented on #21
Sure thing @chelseafranz.

[2015-01-15 12:39] spencerwyckoff commented on #42
https://github.com/spencerwyckoff/JS-Calculator

[2015-01-15 13:16] jtareb commented on #50
Never could get it to work despite at least 6 diff variable and function setups.
https://github.com/jtareb/assign6

[2015-01-15 14:14] jtareb commented on #10
https://github.com/jtareb/Surf-n-Paddle

[2015-01-15 14:16] jtareb commented on #30
https://github.com/jtareb/Surf-n-Paddle

[2015-01-15 17:11] chelseafranz commented on #29
looks good!

[2015-01-15 17:11] #29 closed

[2015-01-15 17:27] chelseafranz commented on #22
awesome work!  really clean scss :+1:

[2015-01-15 17:27] #22 closed

[2015-01-15 17:29] twhitacre opened #51 "Assignment 7"

[2015-01-15 17:29] twhitacre opened #52 "Assignment 7"

[2015-01-15 17:29] twhitacre opened #53 "Assignment 7"

[2015-01-15 17:29] twhitacre opened #54 "Assignment 7"

[2015-01-15 17:29] twhitacre opened #55 "Assignment 7"

[2015-01-15 17:29] twhitacre opened #56 "Assignment 7"

[2015-01-15 17:29] twhitacre opened #57 "Assignment 7"

[2015-01-15 17:29] twhitacre opened #58 "Assignment 7"

[2015-01-15 17:29] twhitacre opened #59 "Assignment 7"

[2015-01-15 17:29] twhitacre opened #60 "Assignment 7"

[2015-01-15 17:33] chelseafranz commented on #28
good work! might just be on mine, but the images at the bottom are all lined up vertically--not a big deal just check it out when you get a chance @Shane40

[2015-01-15 17:33] #28 closed

[2015-01-15 17:43] chelseafranz commented on #27
@Jrfincham do you have the link to the gh-pages branch (the site, not the repo)? looks good though.

[2015-01-15 17:46] chelseafranz commented on #30
code looks good, try and get it pushed to gh-pages.  let me know if you would like some help :+1:

[2015-01-15 17:51] chelseafranz commented on #36
nice, i really like your blog, :+1:

[2015-01-15 17:51] #36 closed

[2015-01-15 17:55] chelseafranz commented on #40
great start!

[2015-01-15 17:55] chelseafranz commented on #39
good start! i like the header background of your blog

[2015-01-15 17:55] #39 closed

[2015-01-15 17:58] chelseafranz commented on #38
Great first post! I like your writing :+1:

[2015-01-15 17:58] #38 closed

[2015-01-15 17:58] chelseafranz commented on #38
Great first post! I like your writing :+1:

[2015-01-15 17:59] chelseafranz commented on #37
Great start! :+1:

[2015-01-15 17:59] #37 closed

[2015-01-15 18:00] chelseafranz commented on #35
Looks awesome, I really like your theme!

[2015-01-15 18:00] #35 closed

[2015-01-15 18:01] chelseafranz commented on #33
That's awesome, I'm impressed :100:

[2015-01-15 18:01] #33 closed

[2015-01-15 18:03] chelseafranz commented on #32
Fantastic. I especially like your opening line. :100:

[2015-01-15 18:03] #32 closed

[2015-01-15 18:06] chelseafranz commented on #31
Off to a great start!

[2015-01-15 18:06] #31 closed

[2015-01-15 19:21] chelseafranz commented on #41
wow. that's really impressive. awesome job! :100:

[2015-01-15 19:21] #41 closed

[2015-01-15 19:22] chelseafranz commented on #43
wow, really awesome!

[2015-01-15 19:22] #43 closed

[2015-01-15 19:26] chelseafranz commented on #45
love the quackulator! it didn't do anything when i tried to use it though--looks like you might have an extra < or something minor like that on your gh-pages branch js file. take a look when you get a chance @ssettle3

[2015-01-15 19:26] #45 closed

[2015-01-15 19:45] xeinherjar commented on #53
https://github.com/xeinherjar/JS-Arrays

[2015-01-15 21:03] xeinherjar commented on #53
Bonus: https://github.com/xeinherjar/JS-Arrays/blob/master/ex.js

[2015-01-15 21:24] bholben commented on #51
https://github.com/bholben/Etsy-Data-Parsing

[2015-01-16 04:06] zenki14 commented on #56
http://zenki14.github.io/js-items/

I cant figure out the decimals... but i know it has to do with cutting off the integers 2 spaces after the decimal... =(

[2015-01-16 11:51] bholben commented on #51
Bonus: https://github.com/bholben/Ten-Simple-Javascript-Exercises
http://bholben.github.io/Ten-Simple-Javascript-Exercises/

[2015-01-16 19:16] xeinherjar commented on #53
Since bonus was changed to part2 it is under exercise.js

Clock: https://github.com/xeinherjar/js-clock

[2015-01-16 19:16] spencerwyckoff commented on #52
https://github.com/spencerwyckoff/JS-Arrays

spencerwyckoff.github.io/JS-Arrays

[2015-01-17 18:02] xeinherjar commented on #53
So I decided to have a bit of fun with this.
I made an analog version: https://github.com/xeinherjar/analog-clock
github-pages: http://xeinherjar.github.io/analog-clock/

[2015-01-18 02:37] ssettle3 commented on #55
https://github.com/ssettle3/JS-HW7

Having trouble with the rovarspracket one... and found a freq walkthrough on stack overflow but don't quite understand all the syntax throughout..

[2015-01-19 05:07] ssettle3 commented on #55
http://ssettle3.github.io/DigiClock/

This was hard to figure out... definitely had to read and practice

[2015-01-19 19:22] Shane40 commented on #58
https://github.com/Shane40/Arrays/tree/master

[2015-01-19 20:37] MLamson commented on #59
questions and exercises link.
https://github.com/MLamson/items

clock link
https://github.com/MLamson/clock/tree/gh-pages

color change clock link
https://github.com/MLamson/hexclock/tree/gh-pages

[2015-01-19 22:38] ssettle3 commented on #55
https://github.com/ssettle3/DigiClock/commits/dev

Hex Clock

[2015-01-20 03:03] spencerwyckoff commented on #52
Part B (~80%) : https://github.com/spencerwyckoff/JS-Arrays/tree/dev/PartB

Definitely had some ah-ha moments with function syntax (particularly how arguments interact with the rest of the body) and methods on arrays and strings.  Definitely could use more work with loops and objects.

[2015-01-20 03:18] zenki14 commented on #56
http://zenki14.github.io/js-items/

[2015-01-20 04:09] bholben commented on #51
Part 3:
https://github.com/bholben/Digital-Clock
http://bholben.github.io/Digital-Clock/

[2015-01-20 14:01] Jrfincham commented on #57
https://github.com/Jrfincham/Assignment7

[2015-01-20 14:20] #53 closed

[2015-01-20 14:20] #51 closed

[2015-01-20 14:20] jtareb commented on #60
Clock is https://github.com/jtareb/clock

[2015-01-20 14:21] #11 closed

[2015-01-20 14:21] #13 closed

[2015-01-20 14:21] #15 closed

[2015-01-20 14:21] #16 closed

[2015-01-20 14:21] #52 closed

[2015-01-20 14:21] #46 closed

[2015-01-20 14:21] #56 closed

[2015-01-20 14:21] #42 closed

[2015-01-20 14:22] #59 closed

[2015-01-20 14:22] #55 closed

[2015-01-20 14:22] #17 closed

[2015-01-20 14:22] #49 closed

[2015-01-20 14:22] #12 closed

[2015-01-20 14:22] #19 closed

[2015-01-20 14:23] #47 closed

[2015-01-20 17:28] twhitacre opened #61 "Assignment 8"

[2015-01-20 17:28] twhitacre opened #62 "Assignment 8"

[2015-01-20 17:28] twhitacre opened #63 "Assignment 8"

[2015-01-20 17:28] twhitacre opened #64 "Assignment 8"

[2015-01-20 17:28] twhitacre opened #65 "Assignment 8"

[2015-01-20 17:28] twhitacre opened #66 "Assignment 8"

[2015-01-20 17:28] twhitacre opened #67 "Assignment 8"

[2015-01-20 17:28] twhitacre opened #68 "Assignment 8"

[2015-01-20 17:28] twhitacre opened #69 "Assignment 8"

[2015-01-20 17:28] twhitacre opened #70 "Assignment 8"

[2015-01-20 20:56] bholben commented on #61
https://github.com/bholben/Accordion
http://bholben.github.io/Accordion/

[2015-01-20 20:56] #61 closed

[2015-01-20 21:06] xeinherjar commented on #63
http://xeinherjar.github.io/jQuery-Accordion/

[2015-01-20 22:30] spencerwyckoff commented on #62
https://github.com/spencerwyckoff/accordion

[2015-01-20 22:34] ssettle3 commented on #65
http://ssettle3.github.io/Accordion/

[2015-01-20 22:34] spencerwyckoff commented on #62
https://github.com/spencerwyckoff/accordion/tree/gh-pages

[2015-01-20 22:34] #62 closed

[2015-01-20 22:34] #65 closed

[2015-01-20 22:41] xeinherjar commented on #63
bonus: https://github.com/xeinherjar/jQuery-Accordion/blob/dev/bonus-arrays.js

[2015-01-20 22:41] MLamson commented on #69
https://github.com/MLamson/accordian/tree/gh-pages

[2015-01-20 22:41] #69 closed

[2015-01-20 23:13] Shane40 commented on #68
https://github.com/Shane40/Accordian

[2015-01-21 00:15] Jrfincham commented on #67
http://jrfincham.github.io/Assignment8/

[2015-01-21 00:15] #67 closed

[2015-01-21 02:32] #18 closed

[2015-01-21 02:33] #48 closed

[2015-01-21 02:33] #57 closed

[2015-01-21 02:33] #58 closed

[2015-01-21 02:34] #63 closed

[2015-01-21 02:34] twhitacre commented on #20
@jtareb any word on this?

[2015-01-21 03:19] bholben commented on #61
Bonus:
https://github.com/bholben/Map-Reduce-Filter
http://bholben.github.io/Map-Reduce-Filter/

[2015-01-21 04:14] zenki14 commented on #66
http://zenki14.github.io/jQuery_intro_hw/

[2015-01-21 04:14] #66 closed

[2015-01-21 12:59] jtareb commented on #70
https://github.com/jtareb/assign8
https://github.com/jtareb/assign8/gh-pages

Had the logic ok but could never get the code to work

[2015-01-21 18:16] twhitacre opened #71 "Assignment 9"

[2015-01-21 18:16] twhitacre opened #72 "Assignment 9"

[2015-01-21 18:16] twhitacre opened #73 "Assignment 9"

[2015-01-21 18:16] twhitacre opened #74 "Assignment 9"

[2015-01-21 18:16] twhitacre opened #75 "Assignment 9"

[2015-01-21 18:16] twhitacre opened #76 "Assignment 9"

[2015-01-21 18:16] twhitacre opened #77 "Assignment 9"

[2015-01-21 18:16] twhitacre opened #78 "Assignment 9"

[2015-01-21 18:16] twhitacre opened #79 "Assignment 9"

[2015-01-21 18:16] twhitacre opened #80 "Assignment 9"

[2015-01-21 19:07] chelseafranz commented on #14
@TRPMorrison any link for this?

[2015-01-21 19:08] chelseafranz commented on #54
@TRPMorrison

[2015-01-21 19:08] chelseafranz commented on #44
@TRPMorrison

[2015-01-21 19:10] chelseafranz commented on #51
cool, awesome job :100:

[2015-01-21 19:11] chelseafranz commented on #52
definitely on the right track with part b, good job :+1:

[2015-01-21 19:12] chelseafranz commented on #53
wow, really awesome! :+1: i like that you can change the clock

[2015-01-21 19:13] chelseafranz commented on #55
awesome!

[2015-01-21 19:14] chelseafranz commented on #56
looks good :+1:

[2015-01-21 19:16] chelseafranz commented on #57
code looks good, don't forget to push to gh-pages and include that link. :)

[2015-01-21 19:19] TRPMorrison commented on #54
http://trpmorrison.github.io/JQUERY-INTRO/

[2015-01-21 19:22] chelseafranz commented on #60
@jtareb let me know if you want some help finishing this up and pushing it ti a gh-pages branch

[2015-01-21 19:28] chelseafranz commented on #58
so far so good :+1:

[2015-01-21 19:34] chelseafranz commented on #59
looks good. don't forget to leave the link for your gh-pages site for each project as well as the repo, thanks! @MLamson

[2015-01-21 19:37] chelseafranz commented on #61
I like the use of different Ipsums. great work :)

[2015-01-21 19:38] chelseafranz commented on #63
looks great

[2015-01-21 19:38] chelseafranz commented on #62
looks good! don't forget to inclide the link to your gh-pages branch as well, please :)
@spencerwyckoff

[2015-01-21 19:39] chelseafranz commented on #65
looks great :+1:

[2015-01-21 19:40] chelseafranz commented on #66
looks good. i think technically its supposed to be closed when the page loads, but that's not a big deal @zenki14

[2015-01-21 19:41] chelseafranz commented on #67
awesome :+1:

[2015-01-21 19:41] chelseafranz commented on #68
@Shane40 don't forget to push to gh-pages :+1:

[2015-01-21 19:45] chelseafranz commented on #69
@MLamson if you go to the settings tab when you are at the site you linked you can find the url for your gh-pages site. please post that as well. thanks! :+1:

[2015-01-21 22:04] Jrfincham commented on #57
http://jrfincham.github.io/Assignment7/

[2015-01-21 22:19] MLamson commented on #69
Sorry about that.  Will make sure to have correct link in future comments.

[2015-01-22 19:20] xeinherjar commented on #73
Side bar and listings.
https://github.com/xeinherjar/etsy-frontpage-clone

http://xeinherjar.github.io/etsy-frontpage-clone/

[2015-01-23 15:54] twhitacre commented on #27
@Jrfincham we talked about this and since you used the capitol "Index.html" it didn't work with GH Pages. In the future make sure to use a lower case "index.html".

No worries on updating this. It looks good. :+1: Nice work!

@chelseafranz I'm going to close this since it is done.

[2015-01-23 15:54] #27 closed

[2015-01-23 16:17] twhitacre commented on #50
@jtareb let me know if you want to look at this together.

@chelseafranz can help with this as well.

[2015-01-23 16:25] twhitacre commented on #19
:+1: Looks awesome, nice work!

[2015-01-23 16:29] twhitacre commented on #18
:+1: Looks really good. One really great practice to get into is to always wrap everything inside of your `body` tag in a container element and then use that to center your main layout.

[2015-01-23 16:34] twhitacre commented on #12
:+1: Looks really good. One thing that will help you with centering the entire site is to get in the habit of wrapping everything inside of your `body` tag inside of a containing element.

[2015-01-23 16:36] twhitacre commented on #15
:+1: Looks great! Nice work!

[2015-01-23 16:43] twhitacre commented on #13
:+1: Looks great.

[2015-01-23 16:45] twhitacre commented on #16
:+1: Looks good! Get used to using some `padding` to help add some better space to elements but otherwise great! Marking as complete.

[2015-01-23 17:25] xeinherjar commented on #73
Bonus ROT13: https://gist.github.com/xeinherjar/ddd56089e0be137eae40

[2015-01-23 21:41] bholben commented on #71
https://github.com/bholben/Etsy
http://bholben.github.io/Etsy/

[2015-01-23 21:41] #71 closed

[2015-01-24 17:08] #73 closed

[2015-01-25 04:48] bholben commented on #71
Bonus: https://github.com/bholben/Caesar-Cipher

I had some fun with the ROT13 and expanded it to be a generic Caesar cipher with a UI.

[2015-01-25 17:15] ssettle3 commented on #75
http://ssettle3.github.io/EtsyjQuery/

https://github.com/ssettle3/EtsyjQuery

[2015-01-25 23:30] Shane40 commented on #78
Second part of assignment:
https://github.com/Shane40/JS_exercises_2

[2015-01-26 01:29] ssettle3 commented on #75
Part two
https://github.com/ssettle3/EtsyjQuery/tree/pt2

[2015-01-26 01:43] xeinherjar commented on #73
I didn't see the exercises until today.
https://github.com/xeinherjar/etsy-frontpage-clone/blob/master/app/scripts/ex.js

[2015-01-26 05:19] spencerwyckoff commented on #72
the exercises: https://github.com/spencerwyckoff/Assignment9B-JS_Exercises/blob/master/main.js

[2015-01-26 05:42] spencerwyckoff commented on #72
Etsy Page: https://github.com/spencerwyckoff/Create-Etsy-Page/tree/dev

I think I did something bad with my master branch... it's probably minor but it happened when I was messing around with gulp deploy.

[2015-01-26 05:42] #72 closed

[2015-01-26 11:34] Jrfincham commented on #77
https://github.com/Jrfincham/Assignment9

http://jrfincham.github.io/Assignment9/

[2015-01-26 12:14] MLamson commented on #79
repo:  https://github.com/MLamson/etsyPage

gh-pages:   http://mlamson.github.io/etsyPage

Did not get etsyPage finished.

[2015-01-26 12:14] #79 closed

[2015-01-26 12:37] zenki14 commented on #76
https://github.com/zenki14/etsy-recreation/tree/gh-pages

struggled with SCSS the most... need practice. building my own site this week in my spare time to do so.

[2015-01-26 12:37] #76 closed

[2015-01-26 13:01] jtareb commented on #80
Its messy for sure. Struggled with the CSS.

https://github.com/jtareb/assign9

did the gulp deploy but also add the ghpages manually....thought gulp did that but was not sure.

[2015-01-26 13:55] #75 closed

[2015-01-26 13:56] #78 closed

[2015-01-26 17:52] twhitacre opened #81 "Assignment 10"

[2015-01-26 17:52] twhitacre opened #82 "Assignment 10"

[2015-01-26 17:52] twhitacre opened #83 "Assignment 10"

[2015-01-26 17:52] twhitacre opened #84 "Assignment 10"

[2015-01-26 17:52] twhitacre opened #85 "Assignment 10"

[2015-01-26 17:52] twhitacre opened #86 "Assignment 10"

[2015-01-26 17:52] twhitacre opened #87 "Assignment 10"

[2015-01-26 17:52] twhitacre opened #88 "Assignment 10"

[2015-01-26 17:52] twhitacre opened #89 "Assignment 10"

[2015-01-26 17:52] twhitacre opened #90 "Assignment 10"

[2015-01-27 17:34] chelseafranz commented on #71
really awesome :100:

[2015-01-27 19:35] xeinherjar commented on #83
http://xeinherjar.github.io/github-frontpage-clone/
https://github.com/xeinherjar/github-frontpage-clone

[2015-01-28 02:08] xeinherjar commented on #83
I did the hover buttons with jQuery.
Is it preferable to do that kind of stuff with JavaScript or if the effect is possible with CSS is that preferred?
Also I could not see where to pull the forked information from, by that I mean how to get the original source.  The API docs say there is a property called parent and source but I was unable to find those.

[2015-01-28 02:09] Shane40 commented on #88
https://github.com/Shane40/TMexercise

I'm really not happy with this ... I stopped after mounting frustration.

[2015-01-28 03:23] spencerwyckoff commented on #82
https://github.com/spencerwyckoff/GitHub-Recreate/tree/master

I think I got left behind on the submitting to gh-pages properly.  It would be nice to have a refresher on this, or probably it's in the notes somewhere.  My readme explains a bit of my progression thus far, and I'm very happy with what's been accomplished up to this point.  Thanks and hope everything is ok behind the scenes.

[2015-01-28 03:23] #82 closed

[2015-01-28 04:18] bholben commented on #81
https://github.com/bholben/GitHub
http://bholben.github.io/GitHub/

 - I snagged the organizations from TJ since he has a bazillion of them.
 - In the main repo section, the API data did not have a property for "forked from".  I faked in my own address.
 - Deploying with the fonts was not smooth.  Not sure if I'm doing something wrong or if the gulp file needs some work.

[2015-01-28 04:20] #81 closed

[2015-01-28 04:33] ssettle3 commented on #85
http://ssettle3.github.io/GitHub/
^ Octicons are not showing up... I thought I had fixed this but apparently I didn't do it right!

https://github.com/ssettle3/GitHub

[2015-01-28 04:56] zenki14 commented on #86
https://github.com/zenki14/github-proj

I am not complete but i dont know what else to do. This is me raising the white flag. I need to restart JS somehow. I thought it'd be easy and my duck has no answers. Plz need one on one asap.

[2015-01-28 04:56] #86 closed

[2015-01-28 11:30] Jrfincham commented on #87
https://github.com/Jrfincham/Assignment10

[2015-01-28 12:47] MLamson commented on #89
http://mlamson.github.io/gitrepo

https://github.com/MLamson/gitrepo

[2015-01-28 12:54] #89 closed

[2015-01-28 13:33] jtareb commented on #90
got hung up on 2 things....getting the template and var for the avatar and getting the time string for the assignment list.

https://github.com/jtareb/assign10

[2015-01-28 13:37] ssettle3 commented on #85
icon bug fixed :)

[2015-01-28 18:17] chelseafranz commented on #72
gulp deploy can be tricky..you always have to do all the steps in the right order, or it gets angry. let me know if you would like some help with that @spencerwyckoff

[2015-01-28 18:18] chelseafranz commented on #73
:+1:

[2015-01-28 18:20] chelseafranz commented on #75
looks great :+1: any time you deploy to gh-pages please leave that link as well, thanks! :)

[2015-01-28 18:21] chelseafranz commented on #76
@zenki14 link to the gh-pages site, por favor?

[2015-01-28 18:34] chelseafranz commented on #77
looks like you might not have fully deployed to gulp? the link isn't working @Jrfincham

[2015-01-28 18:44] chelseafranz commented on #78
@Shane40 gh-pages link pleaseee?

[2015-01-28 18:45] chelseafranz commented on #79
gh-pages site isn't working :/ does it work for you? @MLamson

[2015-01-28 18:48] chelseafranz commented on #80
@jtareb want some help getting it sorted out?

[2015-01-28 18:51] chelseafranz commented on #81
:100:

[2015-01-28 18:52] chelseafranz commented on #82
@spencerwyckoff come see me when you get a chance and we can walk through it. all it takes is getting the order right once and then it makes a bit more sense.

[2015-01-28 18:53] chelseafranz commented on #86
@zenki14 come talk when you get a chance and see where you're getting tripped up

[2015-01-28 18:55] chelseafranz commented on #89
@MLamson this one isn't working either.. might just be something you're doing out of order in the gulp deploy process. let me know if you want some help getting it sorted out :+1:

[2015-01-28 19:00] Shane40 commented on #78
Ugh, I know I created one. Let me look to see what I'm doing wrong. Thanks! Shane Blatt, MBA
      From: Chelsea Franz <notifications@github.com>
 To: tiy-atl-js-q1-2015/Assignments <Assignments@noreply.github.com>
Cc: Shane Blatt <shane.blatt@yahoo.com>
 Sent: Wednesday, January 28, 2015 1:44 PM
 Subject: Re: [Assignments] Assignment 9 (#78)

@Shane40 gh-pages link pleaseee? —
Reply to this email

[2015-01-29 13:58] Jrfincham commented on #87
http://jrfincham.github.io/Assignment10/

[2015-01-29 13:58] #87 closed

[2015-01-29 13:59] Jrfincham commented on #77
http://jrfincham.github.io/Assignment9/

[2015-01-29 13:59] #77 closed

[2015-01-30 03:11] #83 closed

[2015-01-30 19:34] chelseafranz commented on #77
:+1:

[2015-02-02 17:33] twhitacre opened #91 "Assignment 11 - Group 1"
This is for @bholben @jtareb & @spencerwyckoff

[2015-02-02 17:34] twhitacre opened #92 "Assignment 11 - Group 2"
This is for @zenki14, @Jrfincham & @MLamson.

[2015-02-02 17:34] twhitacre opened #93 "Assignment 11 - Group 3"
This is for @Shane40, @ssettle3, @xeinherjar & @TRPMorrison.

[2015-02-02 17:37] xeinherjar commented on #93
http://xeinherjar.github.io/Hip-and-Spur/
https://github.com/xeinherjar/Hip-and-Spur

[2015-02-02 18:09] chelseafranz commented on #83
It's really up to you, whatever makes more sense to you. You definitely get more control over it with JQuery. @xeinherjar

[2015-02-02 18:10] chelseafranz commented on #83
@twhitacre any ideas on pulling the forked info?

[2015-02-02 18:16] chelseafranz commented on #93
looks really great guys! I love that you gave it a real backstory :+1:  :100:

[2015-02-02 18:31] Shane40 commented on #78
For my own clarification, am I just creating a branch called GH-pages and pushing it up? Shane Blatt, MBA
      From: Chelsea Franz <notifications@github.com>
 To: tiy-atl-js-q1-2015/Assignments <Assignments@noreply.github.com>
Cc: Shane Blatt <shane.blatt@yahoo.com>
 Sent: Wednesday, January 28, 2015 1:44 PM
 Subject: Re: [Assignments] Assignment 9 (#78)

@Shane40 gh-pages link pleaseee? —
Reply

[2015-02-02 19:31] zenki14 commented on #92
http://development.group-project.divshot.io/

https://github.com/zenki14/group-project/tree/dev

[2015-02-02 19:33] #85 closed

[2015-02-02 19:47] spencerwyckoff commented on #91
http://development.bholben-divshot.divshot.io/

[2015-02-02 19:48] spencerwyckoff commented on #91
https://github.com/bholben/Alaydis-Cafe

http://development.bholben-divshot.divshot.io/

[2015-02-02 19:48] #91 closed

[2015-02-02 19:54] chelseafranz commented on #92
:+1:

[2015-02-03 00:43] twhitacre opened #94 "Assignment 12"

[2015-02-03 00:43] twhitacre opened #95 "Assignment 12"

[2015-02-03 00:43] twhitacre opened #96 "Assignment 12"

[2015-02-03 00:43] twhitacre opened #97 "Assignment 12"

[2015-02-03 00:43] twhitacre opened #98 "Assignment 12"

[2015-02-03 00:43] twhitacre opened #99 "Assignment 12"

[2015-02-03 00:43] twhitacre opened #100 "Assignment 12"

[2015-02-03 00:43] twhitacre opened #101 "Assignment 12"

[2015-02-03 00:43] twhitacre opened #102 "Assignment 12"

[2015-02-03 00:43] twhitacre opened #103 "Assignment 12"

[2015-02-03 00:44] #92 closed

[2015-02-03 00:44] #93 closed

[2015-02-03 00:49] Jrfincham commented on #100
http://development.assignment12.divshot.io

[2015-02-03 00:57] xeinherjar commented on #96
https://github.com/xeinherjar/fn
http://xeinherjar.github.io/fn/

[2015-02-03 02:36] Shane40 commented on #101
https://github.com/Shane40/shanelibrary/tree/master

The GH-pages branch won't update when I deploy. :-(

[2015-02-03 02:36] #101 closed

[2015-02-03 03:41] ssettle3 commented on #98
http://ssettle3.github.io/Library-tiy-hw12/
https://github.com/ssettle3/Library-tiy-hw12

[2015-02-03 06:07] zenki14 commented on #99
http://zenki14.github.io/custom-library/

[2015-02-03 08:07] bholben commented on #94
https://github.com/bholben/String-Library
http://development.bholben-string-library.divshot.io/

[2015-02-03 08:07] #94 closed

[2015-02-03 12:22] spencerwyckoff commented on #95
http://development.srw-shirt-business-tool.divshot.io/

not fully functional yet...

[2015-02-03 12:22] jtareb commented on #103
https://github.com/jtareb/Js-library

Was not sure bout just what to put in there so I did some that are basic, some form homework, and some I jsut came across

[2015-02-03 13:23] MLamson commented on #102
http://mlamson.github.io/jsLibrary

[2015-02-03 13:23] #102 closed

[2015-02-03 15:13] #96 closed

[2015-02-03 17:26] twhitacre opened #104 "Assignment 13"

[2015-02-03 17:26] twhitacre opened #105 "Assignment 13"

[2015-02-03 17:26] twhitacre opened #106 "Assignment 13"

[2015-02-03 17:26] twhitacre opened #107 "Assignment 13"

[2015-02-03 17:26] twhitacre opened #108 "Assignment 13"

[2015-02-03 17:26] twhitacre opened #109 "Assignment 13"

[2015-02-03 17:26] twhitacre opened #110 "Assignment 13"

[2015-02-03 17:26] twhitacre opened #111 "Assignment 13"

[2015-02-03 17:26] twhitacre opened #112 "Assignment 13"

[2015-02-03 17:26] twhitacre opened #113 "Assignment 13"

[2015-02-03 17:58] #98 closed

[2015-02-03 18:06] xeinherjar commented on #106
https://github.com/xeinherjar/constructors
http://xeinherjar.github.io/constructors/

[2015-02-03 18:06] #106 closed

[2015-02-03 18:28] bholben commented on #104
https://github.com/bholben/Constructors
http://bholben.github.io/Constructors/

[2015-02-03 18:28] #104 closed

[2015-02-03 18:35] #88 closed

[2015-02-03 18:43] chelseafranz commented on #91
looks really awesome! i really like the tabs :+1:

[2015-02-03 18:48] chelseafranz commented on #94
looks great

[2015-02-03 18:49] chelseafranz commented on #96
:100:

[2015-02-03 18:49] chelseafranz commented on #98
awesome!

[2015-02-03 18:51] chelseafranz commented on #99
looks like there's nothing there? but you just might not have had html for the page.. @zenki14

[2015-02-03 18:52] chelseafranz commented on #100
can't find anything there or in your repos.. @Jrfincham is is under another name?

[2015-02-03 18:59] Jrfincham commented on #100
Sorry...somehow forgot to start a repo. Here's the link: https://github.com/Jrfincham/Assignment12

[2015-02-03 19:01] #100 closed

[2015-02-03 21:22] ssettle3 commented on #108
https://github.com/ssettle3/Constructors-tiy-13

http://ssettle3.github.io/Constructors-tiy-13/

[2015-02-03 21:22] #108 closed

[2015-02-03 21:40] spencerwyckoff commented on #105
http://development.srw-constructor-exercises.divshot.io/

[2015-02-03 21:40] #105 closed

[2015-02-03 23:19] MLamson commented on #112
http://development.constructors.divshot.io/

[2015-02-03 23:19] #112 closed

[2015-02-04 00:21] Shane40 commented on #111
https://github.com/Shane40/constrictorfun/tree/gh-pages

Had some help on that T/F question.

[2015-02-04 00:21] #111 closed

[2015-02-04 02:35] Jrfincham commented on #110
http://development.assignment13.divshot.io

https://github.com/Jrfincham/Assignment13

[2015-02-04 02:35] #110 closed

[2015-02-04 05:18] zenki14 commented on #109
http://zenki14.github.io/constructors/

[2015-02-04 05:18] #109 closed

[2015-02-04 12:31] jtareb commented on #113
https://github.com/jtareb/Constructors

[2015-02-04 13:35] twhitacre opened #114 "Assignment 14"

[2015-02-04 13:35] twhitacre opened #115 "Assignment 14"

[2015-02-04 13:35] twhitacre opened #116 "Assignment 14"

[2015-02-04 13:35] twhitacre opened #117 "Assignment 14"

[2015-02-04 13:35] twhitacre opened #118 "Assignment 14"

[2015-02-04 13:35] twhitacre opened #119 "Assignment 14"

[2015-02-04 13:35] twhitacre opened #120 "Assignment 14"

[2015-02-04 13:35] twhitacre opened #121 "Assignment 14"

[2015-02-04 13:35] twhitacre opened #122 "Assignment 14"

[2015-02-04 13:35] twhitacre opened #123 "Assignment 14"

[2015-02-04 21:06] chelseafranz commented on #110
looks like there is nothing at the divshot site @Jrfincham

[2015-02-04 22:03] xeinherjar commented on #116
https://github.com/xeinherjar/javascript-koans/tree/passing

[2015-02-04 22:03] #116 closed

[2015-02-04 23:27] Jrfincham commented on #110
Not sure what happened with Divshot but here's the GH-pages link:

http://jrfincham.github.io/Assignment13

[2015-02-05 02:32] Shane40 commented on #121
https://github.com/Shane40/javascript-koans/tree/master

https://github.com/Shane40/javascript-koans/tree/passing

Hey, Gulp wouldn't deploy for some reason. Also, I'm pushing up both master and the passing branch because I received some bizarre messages. When you have a second Thursday or Friday, perhaps you can give me a GH refresher. Thanks!

[2015-02-05 02:42] Jrfincham commented on #120
https://github.com/Jrfincham/javascript-koans/tree/master/koans

[2015-02-05 02:42] #120 closed

[2015-02-05 02:44] bholben commented on #114
https://github.com/bholben/javascript-koans

[2015-02-05 02:44] #114 closed

[2015-02-05 03:46] zenki14 commented on #119
https://github.com/zenki14/javascript-koans/tree/passing

i like these

[2015-02-05 04:42] spencerwyckoff commented on #115
https://github.com/spencerwyckoff/javascript-koans.git

great practice

[2015-02-05 04:42] #115 closed

[2015-02-05 13:01] jtareb commented on #123
git@github.com:jtareb/javascript-koans.git

[2015-02-05 13:38] MLamson commented on #122
https://github.com/MLamson/javascript-koans

[2015-02-05 13:38] #122 closed

[2015-02-05 18:16] twhitacre opened #124 "Assignment 15"

[2015-02-05 18:16] twhitacre opened #125 "Assignment 15"

[2015-02-05 18:16] twhitacre opened #126 "Assignment 15"

[2015-02-05 18:16] twhitacre opened #127 "Assignment 15"

[2015-02-05 18:16] twhitacre opened #128 "Assignment 15"

[2015-02-05 18:16] twhitacre opened #129 "Assignment 15"

[2015-02-05 18:16] twhitacre opened #130 "Assignment 15"

[2015-02-05 18:16] twhitacre opened #131 "Assignment 15"

[2015-02-05 18:16] twhitacre opened #132 "Assignment 15"

[2015-02-05 18:16] twhitacre opened #133 "Assignment 15"

[2015-02-05 18:20] ssettle3 commented on #118
I thought I already commented and closed this??
https://github.com/ssettle3/javascript-koans/tree/passing/koans

[2015-02-05 18:20] #118 closed

[2015-02-05 18:34] #123 closed

[2015-02-05 18:35] #113 closed

[2015-02-05 19:42] Shane40 commented on #121
https://github.com/Shane40/javascript-koans/tree/passing

Corrected version with all 53 passing ... and to the passing branch. Thanks for the clarification!

[2015-02-05 19:42] #121 closed

[2015-02-05 19:51] Shane40 commented on #68
Updated to get on gh-pages

https://github.com/Shane40/Accordian/tree/gh-pages

[2015-02-05 19:52] #68 closed

[2015-02-05 21:02] twhitacre commented on #11
:+1:

[2015-02-06 14:32] #4 closed

[2015-02-06 14:32] #14 closed

[2015-02-06 14:32] #24 closed

[2015-02-06 14:32] #34 closed

[2015-02-06 14:32] #44 closed

[2015-02-06 14:32] #54 closed

[2015-02-06 14:32] #64 closed

[2015-02-06 14:32] #74 closed

[2015-02-06 14:32] #84 closed

[2015-02-06 14:32] #97 closed

[2015-02-06 14:32] #107 closed

[2015-02-06 14:32] #117 closed

[2015-02-06 14:32] #127 closed

[2015-02-06 14:33] #95 closed

[2015-02-06 14:33] #119 closed

[2015-02-08 21:16] jtareb commented on #10
https://github.com/jtareb/assignment2

had to rebuild it

[2015-02-08 21:22] jtareb commented on #30
ok created gh-pages branch and pushed.

[2015-02-08 21:22] #30 closed

[2015-02-08 21:22] jtareb commented on #40
thx....hope to start posting alot this week

[2015-02-08 21:23] #40 closed

[2015-02-08 21:24] jtareb commented on #20
https://github.com/jtareb/Surf-n-Paddle

[2015-02-08 21:25] #20 closed

[2015-02-09 01:35] Shane40 commented on #131
https://github.com/Shane40/Game/tree/gh-pages

Um, nothing works, except in the console. Depressing.

[2015-02-09 01:35] #131 closed

[2015-02-09 02:54] xeinherjar commented on #126
https://github.com/xeinherjar/turn-based
http://xeinherjar.github.io/turn-based/

[2015-02-09 02:54] #126 closed

[2015-02-09 03:31] zenki14 commented on #129
http://zenki14.github.io/BSProj/

IT'S ALIVE!

[2015-02-09 03:39] bholben commented on #124
https://github.com/bholben/Poker
http://bholben.github.io/Poker/

[2015-02-09 03:39] #124 closed

[2015-02-09 03:59] ssettle3 commented on #128
https://github.com/ssettle3/myGame

[2015-02-09 04:00] #128 closed

[2015-02-09 04:29] spencerwyckoff commented on #125
http://development.sw-five-die.divshot.io/
https://github.com/spencerwyckoff/FiveDice

running into JS issues when deploying to divshot - yet everything works on the local server.  Will take a look in the morning.  Great project, had a lot of fun and overcame a lot of challenges.

[2015-02-09 10:59] Jrfincham commented on #130
https://github.com/Jrfincham/Game/tree/master

http://jrfincham.github.io/Game/

[2015-02-09 12:32] MLamson commented on #132
http://mlamson.github.io/miorisk

https://github.com/MLamson/miorisk

Did not finish but turned in what I had.

[2015-02-09 12:42] jtareb commented on #133
https://github.com/jtareb/game
Tried to add more buttons but could not get the js to work right...the ai would not recognize the additional buttons or would not do anything at all

[2015-02-09 17:35] chelseafranz commented on #118
hmm..well now it's double closed i guess lol

[2015-02-09 17:39] chelseafranz commented on #124
really awesome. i like that you can even customize it :100:

[2015-02-09 17:40] twhitacre opened #134 "Assignment 16"

[2015-02-09 17:40] twhitacre opened #135 "Assignment 16"

[2015-02-09 17:40] twhitacre opened #136 "Assignment 16"

[2015-02-09 17:40] twhitacre opened #137 "Assignment 16"

[2015-02-09 17:40] twhitacre opened #138 "Assignment 16"

[2015-02-09 17:40] twhitacre opened #139 "Assignment 16"

[2015-02-09 17:40] twhitacre opened #140 "Assignment 16"

[2015-02-09 17:40] twhitacre opened #141 "Assignment 16"

[2015-02-09 17:40] twhitacre opened #142 "Assignment 16"

[2015-02-09 17:40] twhitacre opened #143 "Assignment 16"

[2015-02-09 17:40] chelseafranz commented on #126
really cool. the music is a nice touch :+1:

[2015-02-09 17:42] chelseafranz commented on #128
way awesome

[2015-02-09 17:43] chelseafranz commented on #129
HOORAY! however...link isn't working :/
@zenki14

[2015-02-09 17:44] chelseafranz commented on #133
did you also deploy to gh-pages? i can't check it out without that link @jtareb

[2015-02-09 17:51] chelseafranz commented on #125
really cool game!

[2015-02-09 19:02] spencerwyckoff commented on #125
Thanks Chelsea!

[2015-02-09 20:38] bholben commented on #134
https://github.com/bholben/GitHub
http://bholben.github.io/GitHub/

[2015-02-09 20:46] xeinherjar commented on #136
Updated all READMEs.
Library documentation: https://github.com/xeinherjar/fn
Handlebars
    REPO: https://github.com/xeinherjar/handlebars-test
    DEPLOY: http://xeinherjar.github.io/handlebars-test/

[2015-02-09 20:46] #136 closed

[2015-02-09 23:01] bholben commented on #134
README and LICENSE files are underway, but not complete.  I have lots of repos.  ;-)

[2015-02-09 23:01] #134 closed

[2015-02-10 01:35] Jrfincham commented on #140
https://github.com/Jrfincham/Using-Handlebars

http://jrfincham.github.io/Using-Handlebars/

[2015-02-10 02:02] ssettle3 commented on #138
1 - deployed: http://ssettle3.github.io/handlebarsEx/
     repo: https://github.com/ssettle3/handlebarsEx

[2015-02-10 02:03] ssettle3 commented on #138
2 - All Readme files have been updated.

[2015-02-10 02:06] Shane40 commented on #141
https://github.com/Shane40/Handlebars
This doesn't appear to be functioning quite right.

https://github.com/Shane40/shanelibrary/tree/gh-pages
Updated ALL readme files and provided documentation for JS library.

[2015-02-10 02:06] #141 closed

[2015-02-10 02:23] zenki14 commented on #139
http://zenki14.github.io/Handlebars-HW/

[2015-02-10 02:28] jtareb commented on #143
Readme files added to all repos and library.

[2015-02-10 02:30] #138 closed

[2015-02-10 02:55] zenki14 commented on #139
made sure i had readmes for every significant repo... along with the docs for the lib...

[2015-02-10 02:55] #139 closed

[2015-02-10 03:36] jtareb commented on #143
first part closed

[2015-02-10 03:36] #143 closed

[2015-02-10 12:43] jtareb commented on #142
https://jtareb1.wordpress.com/wp-admin/post.php?post=38&action=edit&message=6&postpost=v2

added blogpost on the vid

[2015-02-10 12:43] #142 closed

[2015-02-10 12:56] spencerwyckoff commented on #135
Handlebars Deployed: http://development.handlebars-intro.divshot.io
Handlebars Repo: https://github.com/spencerwyckoff/Handlebars-Intro

[2015-02-10 12:57] spencerwyckoff commented on #135
I updated all my readme files.

I am incomplete, I did not write documentation for my library as of yet.

[2015-02-10 12:57] #135 closed

[2015-02-10 13:40] jtareb commented on #140
https://github.com/jtareb/assign16

[2015-02-10 13:40] #140 closed

[2015-02-10 13:50] #130 closed

[2015-02-10 17:21] twhitacre opened #144 "Assignment 17"

[2015-02-10 17:21] twhitacre opened #145 "Assignment 17"

[2015-02-10 17:21] twhitacre opened #146 "Assignment 17"

[2015-02-10 17:21] twhitacre opened #147 "Assignment 17"

[2015-02-10 17:21] twhitacre opened #148 "Assignment 17"

[2015-02-10 17:21] twhitacre opened #149 "Assignment 17"

[2015-02-10 17:21] twhitacre opened #150 "Assignment 17"

[2015-02-10 17:21] twhitacre opened #151 "Assignment 17"

[2015-02-10 17:21] twhitacre opened #152 "Assignment 17"

[2015-02-10 17:21] twhitacre opened #153 "Assignment 17"

[2015-02-11 01:37] xeinherjar commented on #146
https://github.com/xeinherjar/todo-tdd
http://xeinherjar.github.io/todo-tdd/

With bonuses.

[2015-02-11 01:37] #146 closed

[2015-02-11 13:59] jtareb commented on #133
gulp-deployed to gh pages feb 11 9am....let me know if its still missing

On Monday, February 9, 2015 12:44 PM, Chelsea Franz <notifications@github.com> wrote:

did you also deploy to gh-pages? i can't check it out without that link @jtareb
—
Reply to this email directly or view it on GitHub.

[2015-02-11 21:56] ssettle3 commented on #148
repo: https://github.com/ssettle3/ToDo-List
deployed: http://ssettle3.github.io/ToDo-List/

[2015-02-11 22:08] #148 closed

[2015-02-12 03:03] bholben commented on #144
https://github.com/bholben/ToDo
http://bholben.github.io/ToDo/

[2015-02-12 03:03] #144 closed

[2015-02-12 03:15] Shane40 commented on #151
https://github.com/Shane40/testing/tree/gh-pages

[2015-02-12 03:15] #151 closed

[2015-02-12 03:24] Jrfincham commented on #150
http://jrfincham.github.io/BDD-Testing/

https://github.com/Jrfincham/BDD-Testing

[2015-02-12 03:37] ssettle3 commented on #148
Bonuses Added.
Would like to discuss persistent data.

[2015-02-12 03:59] zenki14 commented on #149
http://zenki14.github.io/testing-HW/

requesting a 1 on 1 about testing. I am very interested in becoming a TDD programmer,  but i just dont get it.

[2015-02-12 03:59] #149 closed

[2015-02-12 04:36] spencerwyckoff commented on #145
http://development.sw-to-do-list.divshot.io

https://github.com/spencerwyckoff/My-To-Do-List

Really fell apart and felt lost with this assignment overall.  Testing was clicking at first, then today I didn't stay disciplined to keep up with it and just got lost.  Fairly happy with the progress made on the to do app - but no delete functionality... could not get .parent() to work the way I wanted t

[2015-02-12 04:39] #145 closed

[2015-02-12 13:02] MLamson commented on #152
http://mlamson.github.io/tododbb/

https://github.com/MLamson/tododbb/tree/master

started with test and had them working.  Looked at your code to try and get todo list to work, but was not able to.  Test also stopped working.  Linked what I have.

[2015-02-12 13:02] #152 closed

[2015-02-12 13:04] jtareb commented on #153
test/spec/test.js works with app/scripts/firstpart.js as I had to make a number of changes in the main.js file during the course of the assignment.

Was able to generate the ToDo list did not finish the onClick pending/completion part.

https://github.com/jtareb/assign17

gulp deployed to gh-pages

[2015-02-12 13:04] #153 closed

[2015-02-12 18:38] chelseafranz commented on #130
cool! :+1:

[2015-02-12 18:40] chelseafranz commented on #133
ok, so you do have something deployed now but it's just the page you start with ('Allo, 'Allo)..
@jtareb

[2015-02-12 18:40] chelseafranz commented on #144
looks really nice

[2015-02-12 18:44] chelseafranz commented on #152
looks like a good start, you have it adding objects so that's definitely something

[2015-02-12 18:47] chelseafranz commented on #145
@spencerwyckoff great start! get some rest this weekend! sometimes you just have an off week, but you'll be amazed what a couple of days of sleeping in can do.

[2015-02-12 18:48] chelseafranz commented on #149
@zenki14 send tim a message if you want to set something up, he'll probably see it quicker that way

[2015-02-12 18:49] chelseafranz commented on #153
off to a great start!
can you also post the links to the actual site (found in the settings section in your repo)? just makes it a little easier for me to review it, thanks! @jtareb

[2015-02-12 19:49] twhitacre opened #154 "Assignment 18"

[2015-02-12 19:49] twhitacre opened #155 "Assignment 18"

[2015-02-12 19:49] twhitacre opened #156 "Assignment 18"

[2015-02-12 19:49] twhitacre opened #157 "Assignment 18"

[2015-02-12 19:49] twhitacre opened #158 "Assignment 18"

[2015-02-12 19:49] twhitacre opened #159 "Assignment 18"

[2015-02-12 19:49] twhitacre opened #160 "Assignment 18"

[2015-02-12 19:49] twhitacre opened #161 "Assignment 18"

[2015-02-12 19:49] twhitacre opened #162 "Assignment 18"

[2015-02-12 19:49] twhitacre opened #163 "Assignment 18"

[2015-02-12 20:33] spencerwyckoff commented on #145
Yes can't wait :)

[2015-02-13 00:34] bholben commented on #154
https://github.com/bholben/ToDo-Backbone
http://development.bholben-todo-backbone.divshot.io/

[2015-02-13 00:34] #154 closed

[2015-02-13 02:20] xeinherjar commented on #156
https://github.com/xeinherjar/todo-backbone
http://xeinherjar.github.io/todo-backbone/

Rebuilt with Backbone.  Including persistence and counts of completes and totals.

[2015-02-13 02:21] #156 closed

[2015-02-15 20:04] ssettle3 commented on #158
http://ssettle3.github.io/Backbone-Todo/

https://github.com/ssettle3/Backbone-Todo

[2015-02-15 20:04] #158 closed

[2015-02-16 11:06] Jrfincham commented on #160
https://github.com/Jrfincham/Assignment18

http://jrfincham.github.io/Assignment18.

[2015-02-16 12:17] spencerwyckoff commented on #155
https://github.com/spencerwyckoff/My-To-Do-List/tree/backbone

http://development.sw-to-do-list.divshot.io

https://trello.com/b/IwKZH5ZG/to-do-list-app

Honestly, this weekend was dedicated to rest more than it was actual coding.  Still having issues navigating the DOM with parent() and child().  Backbone was helpful at first, just need more reps and need to better understand how to utilize metho

[2015-02-16 12:27] MLamson commented on #162
https://github.com/MLamson/todoBack

http://mlamson.github.io/todoBack/

[2015-02-16 12:27] #162 closed

[2015-02-16 13:12] jtareb commented on #163
https://github.com/jtareb/assign18

got data into the array but in the process messed up the onclick delivery of the todo list....working on it

[2015-02-20 18:47] #161 closed

[2015-02-20 18:47] #160 closed

[2015-02-20 18:47] #157 closed

[2015-02-20 18:49] #147 closed

[2015-02-20 18:50] #137 closed

[2015-02-20 18:50] #125 closed

[2015-02-20 18:50] #150 closed

[2015-02-20 18:50] #155 closed

[2015-02-20 19:03] twhitacre commented on #10
Hey @jtareb could you put this up on Github Pages or build it down to your `dist` folder so we can take a look at it?  You could also deploy to divshot if that is easier for you.

[2015-02-20 20:12] chelseafranz commented on #80
looks like your gh-pahes site is just the boilerplate start page..

[2015-02-23 19:09] twhitacre commented on #70
@jtareb - Can you take another look at this?

[2015-02-23 19:10] twhitacre commented on #80
@jtareb - Can you get this pushed to GH Pages or Divshot?

[2015-02-23 19:11] twhitacre commented on #90
@jtareb - Can you get this on GHPages or Divshot for me to look at?

[2015-02-23 19:12] twhitacre commented on #103
@jtareb - Can you put this on GHPages or Divshot?

[2015-02-23 19:13] twhitacre commented on #133
@jtareb - Can you put this on GHPages or Divshot?

[2015-02-23 19:16] twhitacre commented on #163
Looks good on GHPages, but I'm getting an error and I can't get it to operate. Let me know if you need some help with this - @jtareb

[2015-02-25 21:44] twhitacre opened #164 "Assignment 19"

[2015-02-25 21:44] twhitacre opened #165 "Assignment 19"

[2015-02-25 21:44] twhitacre opened #166 "Assignment 19"

[2015-02-25 21:44] twhitacre opened #167 "Assignment 19"

[2015-02-25 21:44] twhitacre opened #168 "Assignment 19"

[2015-02-25 21:44] twhitacre opened #169 "Assignment 19"

[2015-02-25 21:44] twhitacre opened #170 "Assignment 19"

[2015-02-25 21:44] twhitacre opened #171 "Assignment 19"

[2015-02-26 19:54] chelseafranz commented on #158
I think I've marked this as complete like four times over the past week. maybe it will stick this time.

[2015-02-27 21:07] xeinherjar commented on #166
http://xeinherjar.github.io/angular-reaction-gif/#/

https://github.com/xeinherjar/angular-reaction-gif

[2015-02-27 21:07] #166 closed

[2015-03-01 22:51] bholben commented on #164
https://github.com/bholben/CRM-Module
http://development.bholben-crm-module.divshot.io

[2015-03-01 22:51] #164 closed

[2015-03-02 04:00] ssettle3 commented on #167
https://github.com/ssettle3/ngBeers

[2015-03-02 04:00] #167 closed

[2015-03-02 05:43] zenki14 commented on #168
https://github.com/zenki14/angularCRUD

[2015-03-02 09:13] Jrfincham commented on #169
https://atl-bands-app.herokuapp.com/

[2015-03-02 12:22] spencerwyckoff commented on #165
http://development.assignment19-crud.divshot.io

https://github.com/spencerwyckoff/MorningRoutineApp

[2015-03-02 12:22] #165 closed

[2015-03-02 12:30] jtareb commented on #171
https://github.com/jtareb/vehicle

https://api.parse.com/1/classes/vehicle

things left to do: finish the calculate total currency function and add a delete button

[2015-03-02 12:36] jtareb commented on #10
pushed to ghpages 3.2.2015

[2015-03-02 12:42] jtareb commented on #80
pushed to gh-pages with errors....might need some help with

[2015-03-02 12:56] twhitacre commented on #60
Part 1 & 2:

https://github.com/jtareb/assign7
http://jtareb.github.io/assign7/

Still need a gh-pages version of Part 3

[2015-03-02 12:57] jtareb commented on #60
need clock

[2015-03-02 13:07] MLamson commented on #170
I got add, list and delete to work.  edit still not working.

http://development.familyplace.divshot.io/#/

https://github.com/MLamson/FamilyPlace

[2015-03-02 17:34] Jrfincham commented on #169
https://github.com/Jrfincham/BandListAngular

[2015-03-02 18:09] Jrfincham commented on #169
Had issues with heroku so I re-deployed to divshot:

http://development.atl-bands-app.divshot.io/#/

[2015-03-02 18:57] jtareb commented on #50
http://jtareb.github.io/assign6

[2015-03-02 20:52] ssettle3 commented on #167
http://development.ngjournal.divshot.io/#/

I have already started refactoring with Foundation..

[2015-03-03 02:56] twhitacre opened #172 "Assignment 20"

[2015-03-03 02:56] twhitacre opened #173 "Assignment 20"

[2015-03-03 02:56] twhitacre opened #174 "Assignment 20"

[2015-03-03 02:56] twhitacre opened #175 "Assignment 20"

[2015-03-03 02:56] twhitacre opened #176 "Assignment 20"

[2015-03-03 02:56] twhitacre opened #177 "Assignment 20"

[2015-03-03 02:56] twhitacre opened #178 "Assignment 20"

[2015-03-03 02:56] twhitacre opened #179 "Assignment 20"

[2015-03-03 14:01] jtareb commented on #133
http://jtareb.github.io/game

[2015-03-03 14:01] #133 closed

[2015-03-03 14:43] chelseafranz commented on #133
@jtareb Looks great! :+1:

[2015-03-03 14:45] chelseafranz commented on #167
Really awesome start @ssettle3! :+1:

[2015-03-03 18:31] jtareb commented on #103
http://jtareb.github.io/Js-library

[2015-03-03 18:31] #103 closed

[2015-03-04 18:58] xeinherjar commented on #174
http://xeinherjar.github.io/angular-reaction-gif/#/

https://github.com/xeinherjar/angular-reaction-gif

[2015-03-04 18:58] #174 closed

[2015-03-05 03:17] ssettle3 commented on #175
https://github.com/ssettle3/ngBeers/tree/master/app

[2015-03-05 03:23] spencerwyckoff commented on #173
https://github.com/spencerwyckoff/MorningRoutineApp

I am spreading myself too thin recently - not completing assignments to my potential.  Hopefully will prove to be better during the Hackathon.

[2015-03-05 04:43] bholben commented on #172
https://github.com/bholben/Relationship-Manager
http://development.bholben-relationship-manager.divshot.io/

[2015-03-05 04:43] #172 closed

[2015-03-05 11:20] Jrfincham commented on #177
https://github.com/Jrfincham/ShowListAngular

http://development.bandlistangular.divshot.io

[2015-03-05 13:16] jtareb commented on #179
https://github.com/jtareb/assign20

http://jtareb.github.io/assign20/#/

[2015-03-05 13:36] MLamson commented on #178
https://github.com/MLamson/FamilyPlace

http://mlamson.github.io/FamilyPlace/#/

It is only using the Posts section of the web page and the login and register buttons on top right bar.

I have set up ACL but now it does not show users posts even though they are in the database at Parse.

Also still can not edit posts.

[2015-03-05 13:45] #175 closed

[2015-03-05 19:12] jtareb commented on #163
http://jtareb.github.io/assign18/

[2015-03-05 19:12] #163 closed

[2015-03-06 18:34] twhitacre commented on #177
@Jrfincham - it looks like the deployed version has some errors. Can you take a look at that?

[2015-03-06 18:34] twhitacre commented on #169
@Jrfincham - it looks like the deployed version has some errors. Can you take a look at that?

[2015-03-06 18:37] twhitacre commented on #171
@jtareb - looks like there is some issues with the deployed versions

[2015-03-06 18:37] twhitacre commented on #179
@jtareb - looks like there is some issues with the deployed versions

[2015-03-06 18:41] twhitacre commented on #170
@MLamson - it looks like the deployed version has some errors. Can you take a look at that when you get a chance?

[2015-03-06 18:42] twhitacre commented on #178
@MLamson - it looks like the deployed version has some errors. Can you take a look at that when you get a chance?

[2015-03-06 18:43] twhitacre commented on #173
@spencerwyckoff - is there a deployed version of this?

[2015-03-06 18:51] twhitacre commented on #168
@zenki14 - can you post a working deployed version?

[2015-03-06 18:53] spencerwyckoff commented on #173
I believe there were some issues occurring with my gulp build and couldn't get it up to divshot... will take another look.

[2015-03-06 19:00] twhitacre commented on #10
@jtareb  - it seems like the deployed version isn't working. Can you take a look at this?

This is the one I was looking at - http://jtareb.github.io/assignment2/

[2015-03-06 19:01] twhitacre commented on #50
@jtareb - the deployed version seems like the default Yo generator

Can you take a look - http://jtareb.github.io/assign6/

[2015-03-06 19:03] twhitacre commented on #103
this is looking better. I think it could be cleaned up quite a bit though. I'll mark it complete but I'd take another run through with it when you have a chance.

[2015-03-06 19:03] twhitacre commented on #110
:+1: Nice, thanks!!

[2015-03-06 19:04] twhitacre commented on #163
Looks good - :+1:

[2015-03-06 19:08] spencerwyckoff commented on #173
http://development.assignment19-crud.divshot.io/#/

[2015-03-06 19:08] #173 closed

[2015-03-06 19:16] twhitacre commented on #152
:+1: looks good!

[2015-03-06 19:19] twhitacre commented on #132
@MLamson  - looks like there are some errors here on the deployed version. Mind taking a look at those?

[2015-03-06 19:19] twhitacre commented on #129
@zenki14 - the game doesn't seem to work on the deployed version.

[2015-03-06 19:20] chelseafranz commented on #76
looks like your css file is missing from the gh-pages branch. when you get a chance, see if you can add it in @zenki14

[2015-03-06 19:20] jtareb commented on #179
Ive checked and rechecked my master and it appears to be working fine....but its not the same when I check either ghpages or divshot

[2015-03-06 19:21] twhitacre commented on #102
:+1: Perfect!

[2015-03-06 19:21] chelseafranz commented on #79
@MLamson When you get a chance, you might want to just deploy this one to divshot. Looks like you have everything theres, but there is no distribution folder.

[2015-03-06 20:38] MLamson commented on #178
http://development.familyplace.divshot.io

This should work for you know.  This is for assignment 19 as well as I was trying to refactor.

[2015-03-06 20:38] #178 closed

[2015-03-06 20:38] MLamson commented on #170
http://development.familyplace.divshot.io

[2015-03-06 20:38] #170 closed

[2015-03-06 20:59] Jrfincham commented on #177
changed from min file to regular .js file

[2015-03-06 20:59] #177 closed

[2015-03-06 21:07] Jrfincham commented on #169
http://development.bandlistangular.divshot.io

this is the deployed version...obviously its the same as the one in the assignment 20 issue...I used the same project and github repo

[2015-03-13 14:54] twhitacre commented on #170
:+1: Good work!

[2015-03-13 14:55] twhitacre commented on #173
:+1: Great work!

[2015-03-13 14:56] twhitacre commented on #177
:+1: Nice work!

[2015-03-13 14:56] twhitacre commented on #178
:+1: Yep, looks good!

[2015-03-13 16:30] twhitacre commented on #169
:+1: Looks good!

[2015-03-13 16:30] #169 closed

[2015-03-20 17:51] zenki14 commented on #99
http://zenki14.github.io/Library/

[2015-03-20 18:21] zenki14 commented on #129
http://zenki14.github.io/BSProj/

[2015-03-24 15:23] twhitacre commented on #99
@zenki14 - The site is now deployed, but it doesn't look you actually did the assignment.

Take another look at the [assignment](https://github.com/tiy-atl-js-q1-2015/Assignments/tree/master/Assignment%2012) and let me know if you have questions.

[2015-04-26 15:48] jtareb commented on #10
http://jtareb.github.io/OctoCat

let me know if this still does not work

[2015-04-28 15:40] jtareb commented on #50
http://jtareb.github.io/Assignment-6/

[2015-04-28 15:40] #50 closed

[2015-04-28 15:53] jtareb commented on #70
http://jtareb.github.io/Assignment-8/

[2015-04-28 22:14] jtareb commented on #60
http://jtareb.github.io/clock-2/

[2015-04-30 05:48] jtareb commented on #80
pushed again to github pages but now the main content section( the pics) wont show up. Shows up fine in gulp watch---just not in gh-pages

[2015-04-30 12:10] jtareb commented on #80
http://jtareb.github.io/assign9

[2015-05-07 04:42] jtareb commented on #90
http://jtareb.github.io/assign10/

not pretty and needs some work but its a far cry from where I was

[2015-05-07 04:42] #90 closed

[2015-05-07 19:11] jtareb commented on #80
http://jtareb.github.io/assign9/

[2015-05-07 19:26] jtareb commented on #171
http://jtareb.github.io/vehicle/#/

[2015-05-07 19:26] #171 closed

[2015-05-20 00:43] twhitacre commented on #10
That link above does not work. It seems like that Repo was deleted.

[2015-05-20 00:43] twhitacre commented on #50
:+1: This one looks good!

[2015-05-20 00:48] twhitacre commented on #60
The clock looks good, but the other parts are deployed properly.

I see the `main.js` code looks like it should work, but push that onto GHPages so I can run it.

Also, the `exercises.js` doesn't seem to be complete.

[2015-05-20 00:49] twhitacre commented on #70
The accordion looks good, but part of the assignment is to use CSS transitions in order to open and close the blocks and it looks like you just used jQuery.

[2015-05-20 00:50] twhitacre commented on #80
:+1: This one looks great!

[2015-05-20 00:50] #80 closed

[2015-05-20 00:51] twhitacre commented on #90
:+1: This one looks good!

[2015-05-20 00:52] twhitacre commented on #171
:+1: looks good!

[2015-05-20 00:53] #132 closed

[2015-05-21 02:02] jtareb commented on #10
http://jtareb.github.io/OctoCats/

[2015-05-21 02:02] #10 closed

[2015-05-21 03:02] jtareb commented on #70
ok fixed

http://jtareb.github.io/Assignment-8/

[2015-05-21 03:02] #70 closed

[2015-05-21 04:00] jtareb commented on #60
http://jtareb.github.io/assign7/

[2015-05-22 19:16] jtareb commented on #179
http://jtareb.github.io/assignment-20/#/

[2015-06-24 01:06] twhitacre commented on #10
@jtareb - this is looking pretty good. Nice work!

[2015-06-24 01:06] twhitacre commented on #60
@jtareb Still seeing some errors on this one.

[2015-06-24 01:06] twhitacre commented on #70
@jtareb this looks good!

[2015-06-24 01:09] twhitacre commented on #179
@jtareb - this is looking really good. No errors and works nicely.

I'd love to see you be able to have a better login/register workflow. Meaning, if I'm not logged in I can't add a vehicle etc. But when I do log in then I can.

[2015-06-24 01:10] #99 closed

[2015-06-24 01:10] #129 closed

[2015-06-24 01:10] #159 closed

[2015-06-24 01:10] #168 closed

[2015-06-24 01:10] #176 closed